$accent: #f5535e;

%gotham-400{
  font-family: 'Gotham-Regularr', sans-serif;
  font-weight: 400;
}
%gotham-500{
  font-family: 'Gotham-Medium', sans-serif;
  font-weight: 500;
}
%gotham-700{
  font-family: 'Gotham-Bold', sans-serif;
  font-weight: 700;
}
%copperplate-700{
  font-family: 'Copperplate-Gothic-Bold', sans-serif;
  font-weight: 700;
}
%roboto-400{
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}
%roboto-700{
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: 700;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}